/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
CHANGELOG_16_22.html
CHANGELOG_8_15.html
LICENSE.html
pb_data/storage/pbc_1321337024/3dria69xyp06whm/obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp
pb_data/storage/pbc_1321337024/3dria69xyp06whm/obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp.attrs
pb_data/storage/pbc_1321337024/3dria69xyp06whm/thumbs_obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp/100x100_obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp
pb_data/storage/pbc_1321337024/3dria69xyp06whm/thumbs_obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp/100x100_obrigado_filh_o_v0_h94y6q0e2u5e1_0asf7eml58.webp.attrs
pb_data/storage/pbc_1321337024/72t3j5t8rcc2b5t/i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp
pb_data/storage/pbc_1321337024/72t3j5t8rcc2b5t/i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp.attrs
pb_data/storage/pbc_1321337024/72t3j5t8rcc2b5t/thumbs_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp/100x100_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp
pb_data/storage/pbc_1321337024/72t3j5t8rcc2b5t/thumbs_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp/100x100_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_ek7e1qqyfr.webp.attrs
pb_data/storage/pbc_1321337024/il955xof3q22yl1/i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp
pb_data/storage/pbc_1321337024/il955xof3q22yl1/i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp.attrs
pb_data/storage/pbc_1321337024/il955xof3q22yl1/thumbs_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp/100x100_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp
pb_data/storage/pbc_1321337024/il955xof3q22yl1/thumbs_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp/100x100_i_made_a_minimalist_background_of_silver_rathalos_and_the_v0_zljp93hk7uea1_xexg1562jh.webp.attrs
pb_data/storage/pbc_1321337024/k893rjv9w36nkh7/gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp
pb_data/storage/pbc_1321337024/k893rjv9w36nkh7/gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp.attrs
pb_data/storage/pbc_1321337024/k893rjv9w36nkh7/thumbs_gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp/100x100_gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp
pb_data/storage/pbc_1321337024/k893rjv9w36nkh7/thumbs_gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp/100x100_gotta_keep_going_for_the_plot_v0_5ql8wxf9d33g1_fj3e6mqt53.webp.attrs
